<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  
  <!--
  <app-employee></app-employee>
  <app-contact-us></app-contact-us>
-->
  <!-- <app-employee-info></app-employee-info> -->
</div>

<div style="padding:5px">
  <ul class="nav nav-tabs">
    <li routerLinkActive="active">
        <a routerLink="home">Home</a>
    </li> 
    <li routerLinkActive="active">
        <a routerLink="login">Login</a>
    </li> 
    <li routerLinkActive="active">
        <a routerLink="employeeslist">Employees List</a>
    </li> 
    <li routerLinkActive="active">
        <a routerLink="employees">Employees</a>
    </li> 
    <li routerLinkActive="active">
        <a routerLink="employeeservice">Employee Service</a>
    </li> 
  </ul>

</div>
<router-outlet></router-outlet>