<table>
    <tr>
        <td>First Name</td>
        <td>{{fname}}</td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td>{{lname}}</td>
    </tr>
    <tr>
        <td>Gender</td>
        <td>{{gender}}</td>
    </tr>
    <tr>
        <td>Age</td>
        <td>{{age}}</td>
    </tr>
</table>

<h1 *ngIf="ShowFullName">Full Name = {{displayFullName()}}</h1>

<p>Subjects: <span *ngFor="let s of Subjects;let i=index"><span *ngIf="i!=0">,</span> {{s}}</span>

</p>


<table >
    <tr>
        <td>Code</td>
        <td>Name</td>
        <td>Gender</td>
        <td>Annual Salary</td>
        <td>Date Of Birth</td>
    </tr>
    <tr *ngFor="let e of Employees;">
        <td>{{e.code}}</td>
        <td>{{e.fname | genderpipe:e.gender}}</td>
        <td>{{e.gender }}</td>
        <td>{{e.annualSalary}}</td>
        <td>{{e.dateOfBirth}}</td>
    </tr>
    <tr *ngIf="!Employees || Employees.length==0">
    <td colspan="5">No Records to display</td></tr>
</table>


<p>Subjects: <span *ngFor="let s of Subjects;let i=index"><span *ngIf="i!=0">,</span> {{s}}</span>
</p>

<span>{{emp| json}}</span><br/><br/>

<span [ngSwitch]="emp.empType"> 
    
        <span *ngSwitchCase="0">Daily</span> 
        <span *ngSwitchCase="1">Permanent</span> 
        <span *ngSwitchCase="2">Contract</span> 
        <span *ngSwitchCase="3">Retired</span> 
        <span *ngSwitchDefault>Other</span> 
    </span>